[Desktop Entry]
Encoding=UTF-8
Name=Link to header.png (PNG Image, 808 × 166 pixels)
Type=Link
URL=http://lankarainwater.org/wp/wp-content/uploads/2014/11/header.png
Icon=image-png
